body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #cedffa;
}

h1 {
    margin-top: 0;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    color: #1ca9c2;
    font-family: 'Montserrat', sans-serif;
}

hr {
    border-color: rgb(223, 223, 223);
}

.top-container {
    background-color: #a3ddfe;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    background-image: linear-gradient(#a3ddfe, #cedffa);
}

.bottom-container {
    background-color: #cedffa;
}

.skill-title {
    padding-top: 60px;
}

.skill-row {
    width: 50%;
    margin: 50px auto 100px auto;
    text-align: left;   
    line-height: 2; 
}

.skill-row2 {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: right;   
    line-height: 2; 
}

.skill-img1 {
    float: left;
    width: 25%;
    margin-right: 30px;    
}

.skill-img2 {
    float: right;
    margin-left: 30px;
    width: 25%;
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    display: inline-block;
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}